@import '@/styles/base.scss';
.pages-wrapper {
  width: 100%;
  padding: 0px;

  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $gradient-secondary;
  padding: 50px 10px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // flex: 1;
  width: 90%;
}
