@import '@/styles/base.scss';
.project-list-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.list-enter-active {
  transition: all 0.4s ease-out;
}
.list-leave-active {
  transition: all 0.4s ease-in;
  position: absolute;
}
.list-enter-to,
.list-leave-from {
  opacity: 1;
  transform: scale(1);
}
.list-move {
  transition: transform 0.8s ease;
}
