@import '@/styles/base.scss';
.project-list-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 22px;
  span {
    font-size: 14px;
    color: $color-secondary;
    opacity: 0.8;
    font-style: italic;
    &::after,
    &::before {
      content: '"';
      display: inline-block;
      border-radius: 50%;
      margin: 0 5px;
    }
  }
}

.empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.project-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 15px;
    margin-right: 5px;
  }
}
// animation
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.5) translateX(-500px);
}

.list-enter-active {
  transition: all 0.4s ease-out;
}
.list-leave-active {
  transition: all 0.4s ease-in;
  position: absolute;
}
.list-enter-to,
.list-leave-from {
  opacity: 1;
  transform: scale(1);
}
.list-move {
  transition: transform 0.8s ease;
}
