@import '@/styles/base.scss';
.main-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  h3 {
    padding: 0px;
    margin: 0px;
  }
  p {
    padding: 0px;
    margin: 0px;
  }
}
form {
  width: 100%;
}
.input-fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  //   padding: 10px;
  input {
    width: 700px;
    padding: 12px;
    margin: 10px 0px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: $color-white;
    box-shadow: $box-shadow;
    border: none;
    outline: none;
  }
  img {
    margin-right: 5px;
  }
}
.list-container {
  position: relative;
  width: 100%;
}
.tech-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
// animation
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.list-enter-active {
  transition: all 0.4s ease-out;
}
.list-leave-active {
  transition: all 0.4s ease-in;
  position: absolute;
}
.list-enter-to,
.list-leave-from {
  opacity: 1;
  transform: translateY(0px);
}
// for the removal of elements from the list
.list-move {
  transition: transform 0.8s ease;
}
