@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// colors variables
$color-primary: #eaeaea;
$color-primary-light: #707070;
$color-primary-dark: #313030;
$color-secondary: #0f538c;
$color-secondary-light: #115e9f;

$color-white: #fff;
$color-danger: #b21818;
$color-success: #11b452;

// gradients
$gradient-primary: linear-gradient(
  to left,
  $color-secondary,
  $color-primary-dark
);
$gradient-secondary: linear-gradient(
  to bottom,
  $color-primary 0%,
  $color-white 100%
);
$gradient-tert: linear-gradient(
  to right,
  $color-secondary,
  $color-primary-dark
);
$gradient-danger: linear-gradient(to left, $color-danger, $color-primary-dark);
$gradient-danger-hover: linear-gradient(
  to right,
  $color-danger,
  $color-primary-dark
);
// FONTS
$main-font: 'Rubik', sans-serif;

// shadows
$box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.4); //
