@import '@/styles/base.scss';
// scale down scale up with fade in and out
.dashboard-router-enter-from,
.dashboard-router-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.dashboard-router-enter-active {
  transition: all 0.3s ease-out;
}
.dashboard-router-leave-active {
  transition: all 0.3s ease-in;
}
.dashboard-router-enter-to,
.dashboard-router-leave-from {
  opacity: 1;
  transform: scale(1);
}
