@import '@/styles/base.scss';
.profile-settings-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.profile-settings-page .input-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.form-group {
  .p-inputgroup {
    margin-bottom: 20px;
  }
  .p-inputtext {
    width: 400px;
  }
  .icon-spin {
    color: #fff;
    font-size: 40px;
  }
}
