@import '@/styles/base.scss';
// scale in with fade in and translate up
.otp-form-enter-from {
  opacity: 0;
  transform: scale(0.8);
  transform: translateY(10px);
}

.otp-form-enter-active {
  transition: all 0.3s ease-out;
}

.otp-form-enter-to {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
