@import '@/styles/variables.scss';
.normal {
  min-width: 120px;
  width: fit-content;
  min-height: 40px;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: $main-font;
  font-size: 15px;
  font-weight: 600;
  background: $gradient-primary;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
  color: $color-white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  // hover
  &:hover {
    background: $gradient-tert;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
  }
}
